   <body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/images/logo.png" height="30" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto text-primary">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
              Coding
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Full Stack JavaScript</a></li>
              <li><a class="dropdown-item" href="#">Python</a></li>
              <li><a class="dropdown-item" href="#">Inteligencia artificial</a></li>
              <li><a class="dropdown-item" href="#">Desarrollo para moviles.</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">
              Money
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Proyectos reales</a></li>
              <li><a class="dropdown-item" href="#">Marketing online</a></li>
              <li><a class="dropdown-item" href="#">Ideas para negocios</a></li>
              <li><a class="dropdown-item" href="#">Trading</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/bg-1.jpg" class="d-block w-100"  alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/bg-2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/bg-3.jpg" class="d-block w-100" alt="...">
    </div>
 
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- /carousel -->

<div class="container pt-4">
  <div class="row">
    <div class="col-lg">
      <h3 class="mb-4">Welcome!</h3>
      <img src="images/maxresdefault (1).jpg" alt="an image" class="img-fluid mb-4 rounded"/>
     <p>Bienvenido a CodingMoney.com, un lugar donde puedas aprender a programar y ganar dinero.</p>
     
    </div> 
     <div class="col-lg">   
       <h3 class="mb-4">Coding Money</h3>
       <p>Coding money se trata sobre todo aquello relacionado a la programacion y como ganar dinero, tambien, incluso aquello que rodea a este mundo cibernetico. </p>
       <p>Voy a estar comentandoles sobre mi viaje, compartiendoles proyectos reales y otorgandoles mi conocimiento,paso por paso, para que aprendan de mis exitos y fracasos.</p>
       
    </div> 
     <div class="col-lg">
       <h3 class="mb-4">Proximos videos</h3>
         <div class="list-group">
 <a href="#" class="list-group-item list-group-item-action"><strong class="text-primary">Coding</strong>: Consejos para mejorar en C++</a>
 <a href="#" class="list-group-item list-group-item-action"><strong class="text-success">Money</strong>: Ahorrar para luego invertir</a>
 <a href="#" class="list-group-item list-group-item-action"><strong class="text-primary">Coding</strong>:TOP 5 errores tipicos que no debes cometer como principiante.</a>
 <a href="#" class="list-group-item list-group-item-action"><strong class="text-success">Money</strong>: Todo lo que debes saber de las criptomonedas</a>
 <a href="#" class="list-group-item list-group-item-action"><strong class="text-success">Money</strong>: Como invertir en bitcoins. </a>
</div>
    </div> 
    </div> <!-- /row -->
    <!-- Videos -->
 
 <h1 class="display-3 text-center text-muted my-4">Videos</h1>
 <div class="row">
   <div class="col-md-6 col-lg-4">
       <div class="card mb-3">
     <img src="images/vid-1.png" class="card-img-top" alt="...">
     <div class="card-body "  >
      <h4 class="card-title">¿Que me llevo a crear Codingmoney? </h4>
   <p class="card-text"> El creador de CodingMoney, "satoshimaramoto", cuenta la historia de su vida y como fundo su pagina celebre.</p>
    
     </div>
   </div>
   </div>
 
   <div class="col-md-6 col-lg-4">
           <div class="card mb-3">
     <img src="images/vid-2.png" class="card-img-top" alt="...">
     <div class="card-body">
 <h4 class="card-title">Aprende a programar de manera sencilla</h4>
 <p class="card-text">En este video veremos como aprender a programar desde cero con estas aplicaciones totalmente simples y faciles de utilizar.</p>
    
     </div>
   </div>
   </div>
 
   <div class="col-md-6 col-lg-4">
           <div class="card mb-3">
     <img src="images/htmlcss.png" class="card-img-top" alt="...">
     <div class="card-body">
    <h4 class="card-title">top 10 consejos antes de empezar con HTML Y CSS</h4>
 <p class="card-text">SIEMPRE ES BUENO ALGO DE CONOCIMIENTO PREVIO ANTES DE APRENDER A PROGRAMAR :O.</p>
    
     </div>
   </div>
   </div>
 
   <div class="col-md-6 col-lg-4">
           <div class="card mb-3">
     <img src="images/GIT,GITHUB.jpg" class="card-img-top" alt="...">
     <div class="card-body">
   <h4 class="card-title">Diferencias entre Git y GitHub. ¿Cual es mejor?</h4>
 <p class="card-text">Realizamos una gran comparancion entre  el servicio de github y el software de Git para saber cual conviene mas.</p>
     </div>
   </div>
   </div>
 
   <div class="col-md-6 col-lg-4">
           <div class="card mb-3">
     <img src="images/vid-5.png" class="card-img-top" alt="...">
     <div class="card-body">
     <h4 class="card-title">Inversiones: Como invertir en acciones de manera inteligente y cuidadosa Parte 1</h4>
 <p class="card-text">Las inversiones siempre son un riesgo, por eso hay saber como funciona el mercado y cuando entrar a comprar acciones.</p>
    
     </div>
   </div>
   </div>
 
   <div class="col-md-6 col-lg-4">
           <div class="card mb-3">
     <img src="images/vid-6.png" class="card-img-top" alt="...">
     <div class="card-body">
      <h4 class="card-title">La gran pregunta ¿Por donde comienzo?</h4>
 <p class="card-text">Si estas desorieantado por como empezar en el mundo del coding, pero tu meta es aprender a programar ¡Sorpresa! este video podria ayudarte..</p>
    
     </div>
   </div>
   </div>
 </div>
<!-- signup form -->
<div class="container">
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center">Contact us</legend>
           <form action="/" method="post"></form>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">E-mail</label>
              <div class="col-md-9">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
            </div>
    
            <!-- Message body --> 
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Your message</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>
<!-- footer -->
<div class="row py-3">
  <div class="col-md-7">
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#">Otros productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Blog</a>
  </li>
  <li class="nav-item">
 
<div class="btn-group dropup">
  <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Redes sociales.
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="https://www.youtube.com/watch?v=sW9npZVpiMI">Youtube</a>
    <a class="dropdown-item" href="https://facebook.com/CorrientesSp">Facebook</a>
    <a class="dropdown-item" href="https://www.instagram.com/lisandro_valenz/">Instagram</a>
    <a class="dropdown-item" href=" https://twitter.com/">Twitter</a>
  </div>
</div>
  </li>
 
</ul>
  </div>
  <div class="col-md text-md-right">
    <small>&copy; 2021  <a href="https://www.instagram.com/lisandro_valenz/" >Tarea de Bootstrap por Lisandro Valenzuela. </a></small>
  </div>
</div><!-- /footer -->      
</div>